/* h2:hover {
    color: red;
} */

/* .about-me{
    color: blue;
} */

li:first-child{
    color: blue;
}

li:nth-child(3){
   color: green; 
}


li:nth-child(2){
    color: indigo;
}

/* #google-link:link{
color:blue
}

#google-link:visited{
color:brown
} */

h2 + a {
    color: red;
}

textarea ~ button{
    color: red;
}

ul > li{
    color: rgb(202, 18, 18);
}


h2[class=subtitle]{
    color: green;
}

/* img[src^="../img/"]{
border: 10px solid red;
}

img[src$="../img/"]{
    border: 10px solid red;
    } */

    img[src*="../img/"]{
        border: 10px solid green;
        }    

h2[class~= article-subtitle]{
    background-color: grey;
}       

.title{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:steelblue;
   background: linear-gradient(to right, black ,white );
  
}

body{
    background:url(https://media.comicbook.com/2021/07/dragon-ball-super-new-super-hero-movie-goku-toei-animation-1276890.jpeg?auto=webp);
  background-size: cover ;
  background-repeat: no-repeat;

}

.img-1{
    height: 200px;
    width: 200px;
    display: flex;
    
}

.two{
text-decoration: none;  
text-transform: capitalize; 
text-align: center;
font-weight: bolder;
/* font-style: italic; */
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

